---
import Layout from "../layouts/Layout.astro";
import MenuItem from "../components/MenuItem.astro";
import MenuTitle from "../components/MenuTitle.astro";
import { BarSnacks, ALaCarte, Cheese, Dessert } from "../data/MenuItems.js";
---

<Layout title="Cipo | Wine bar & Food">
  <main class="container grid-md">
    <div class="title">
        <img src="/logo-no-background.png" alt="Cipo logo" width="192" />

      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Frontpage</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/menu">Menu</a>
        </li>
      </ul>
    </div>

    <section>
      <section>
        <MenuTitle title="MENU" />
        <MenuItem
          item="Four dishes, ‘Kitchens choice’, chosen by the whole table"
          price="395"
        />
      </section>

      <section>
        <MenuTitle title="BAR SNACKS" />
        {
          BarSnacks.map((item) => (
            <MenuItem item={item.item} price={item.price} />
          ))
        }
      </section>

      <section>
        <MenuTitle title="À LA CARTE" />
        {
          ALaCarte.map((item) => (
            <MenuItem item={item.item} price={item.price} />
          ))
        }
      </section>

      <section>
        <MenuTitle title="CHEESE" />
        {Cheese.map((item) => <MenuItem item={item.item} price={item.price} />)}
      </section>

      <section>
        <MenuTitle title="DESSERT" />
        {
          Dessert.map((item) => (
            <MenuItem item={item.item} price={item.price} />
          ))
        }
      </section>
    </section>
  </main>
</Layout>

<style>
  .container {
    padding-inline: 1rem;
  }

  .title > img {
    display: block;
    margin: 4rem auto;
  }

  section {
    margin-top: 2rem;
  }
</style>
